*{
  margin: 0;
  box-sizing: border-box;
}

.titulo {
  background-color: #6f42c1;
  text-align: center;
}

.titulo h1 a {
  color: #eeeeee;
  text-decoration: none;
}

.titulo h5 a {
  color: #eeeeee;
  text-decoration: none;
}

.pasos {
  margin-top: 20px;
  padding: 10px 10px;
}

.pasos .paso{
  background-color: #f8f9fa;
}

.pasos .paso .svg {
  margin-top: 5px;
  text-align: center;
  margin-right: 10px;
}

.pasos .paso .svg i {
  margin-top: 5px;
  font-size: 50px;
  color: #6f42c1;
}

.pasos .paso .datos{
  margin-top: 5px;
}

.pasos .paso .datos a {
  text-decoration: none;
  color: #6f42c1;
  font-size: 20px;
  font-weight: 600;
}

.pasos .paso .datos p {
  color: #343a40;
  font-weight: 400;
}

.fondo-tomate {
  background-color: #6c757d;
}

.fondo-oscuro {
  background-color: #343a40;
  color: #eeeeee;
}

.fondo-claro {
  background-color: #ddd;
}

.h-cien {
  height: 100px;
}

.h-300 {
  height: 300px;
}

